/* скидає стилі за замовчуванням для однакового відображення сайту в різних браузерах - кросбраузерність */



/*!!!!!!!!!!!!!!!!!!!!!! RESET CSS !!!!!!!!!!!!!!!!!!!!!!*/
P,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

address {
    font-style: normal;
}

button {
    cursor: pointer
}

a {
    color: currentColor;
    text-decoration: none;
}


img {
    display: block;
    margin: 0;
    max-width: 100%;
    height: auto;
    width: 100%;
}



/*!!!!!!!!!!!!!!!!! body style !!!!!!!!!!!!!!!!!!!!!!!!!!!*/




